body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(32, 20, 20);

}

.header {
    border-bottom: dotted 1px rgb(247, 160, 160);
    /* background-image: url('images/vibrant-colorful-flower-bg.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;*/

}

.head-banner {
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to right, rgb(231, 229, 230), rgb(253, 224, 224), rgb(194, 118, 118));
    border-bottom: dotted 1px rgb(247, 160, 160);
}

.business-logo {
    font-size: larger;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;

}

.menu-item {
    text-decoration: none;
    font-weight: 600;
    font-family: inherit;

}

.menu-item:hover {
    text-decoration: underline;
    text-underline-offset: 7px;
}

.menu-item:visited {
    color: rgb(0, 26, 18);
}


.login-btn,
.learn-more,
.more {
    padding: 8px 16px;
    width: fit-content;
    height: fit-content;
    color: rgb(0, 26, 18);
    font-family: inherit;
    font-size: medium;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 0.1rem;
    border: solid 1px rgb(253, 224, 224);
    border-radius: 50px;
    cursor: pointer;
    background-image: linear-gradient(to right, rgb(214, 130, 108), rgb(248, 231, 239), rgb(214, 130, 108));
    background-size: 200% 200%;
    animation: animationBg 7s linear infinite;
    text-wrap: nowrap;
}

.login-btn {
    width: 95px;
    font-style: normal;
}

.more {
    margin-left: 2%;
    background-image: linear-gradient(to right, rgb(218, 123, 100), rgb(253, 219, 235), rgb(218, 126, 103));
}

@keyframes animationBg {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}

.header-next-content {
    display: flex;
    justify-content: space-between;
}

.header-left-section {
    padding: 7%;
    display: flex;
    flex-direction: column;
    gap: 21px;
    max-width: 550px;
}

.header-left-section-title {
    font-size: x-large;
    font-family: inherit;
}

.header-left-section-description {
    display: flex;
    align-items: center;
    gap: 27px;

}

.garden-materials-photo {
    width: 35%;
}

.plant-image {
    width: 200px;
    height: 200px;
    border: solid 7px rgb(253, 224, 224);
    border-radius: 10px;
}

.header-description-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 17px;
}

.header-right-section {
    position: relative;

}

.garden-photo1,
.garden-photo2,
.garden-photo3 {
    position: absolute;
    width: 200px;
    height: 280px;
    
}

.garden-photo1{
    z-index: 1;
    right: 75px;
    top: 75px;
    background-color: rgb(0, 174, 255);
}
.garden-photo2{
    z-index: 5;
    right: 145px;
    top: 105px;
    background-color: blue;

}
.garden-photo3{
    z-index: 10;
    right: 215px;
    top: 135px;
    background-color: rebeccapurple;
}




.main {
    padding: 2%;
    background-image: linear-gradient(to right, rgb(231, 229, 230), rgb(253, 224, 224), rgb(194, 118, 118));
}


.category-container {
    margin-top: 21px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.products-container {
    padding: 1%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    cursor: pointer;
}

.product-container {
    border-radius: 10px;
}

.product-image {
    padding: 0;
    margin: 0;
    width: 200px;
    height: 200px;
    border: solid 1px rgb(82, 51, 51);
    border-radius: 10px;
}


.order-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
}

.whatsapp-icon {
    width: 35px;
}

.category-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: larger;
    letter-spacing: -0.05em;
    line-height: 0.7;
    text-wrap: balance;
    text-decoration: underline;
    text-underline-offset: 5px;
    cursor: pointer;
    color: rgb(32, 20, 20);
}

.product-name {
    margin: 0;
    padding: 1%;
    font-size: large;
    font-style: italic;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-wrap: nowrap;
}


@media (max-width: 750px) {
    .category-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .products-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 12px;
            cursor: pointer;
        }


    }
}