body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 26, 18);
}

.header {
    max-height: 100vh;
}

.head-banner {
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px gray;
    background-color: rgb(249, 253, 251);
}

.business-logo {
    font-size: larger;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    color: rgb(0, 26, 18);
}

.menu-item {
    text-decoration: none;
}

.menu-item:hover{
    text-decoration: underline;
    text-underline-offset: 7px;
}

.menu-item:visited {
    color: rgb(0, 26, 18);
}

.login-btn,
.learn-more {
    padding: 7px;
    width: 95px;
    border: solid 1px rgb(217, 255, 244);
    border-radius: 50px;
    background-color: rgb(241, 253, 246);
    color: rgb(0, 26, 18);
    font-family: inherit;
    font-size: medium;
    font-weight: 600;
    letter-spacing: 0.1rem;
    cursor: pointer;
    transition: background-color 0.4s ease, color 0.4s ease-in-out;
}

.login-btn:hover,
.learn-more:hover{
    color: rgb(241, 253, 246);
    background-color: rgb(66, 141, 98);
}

.header-next-content {
    display: flex;
    justify-content: space-between;
}

.header-left-section {
    padding: 7%;
    display: flex;
    flex-direction: column;
    gap: 21px;
    max-width: 550px;
}

.header-left-section-title {
    font-size: x-large;
}

.header-left-section-description {
    display: flex;
    align-items: center;
    gap: 27px;

}

.garden-materials-photo {
    width: 35%;
    height: 90vh;  
}

.plant-image {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.header-description-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 17px;
}

.learn-more {
    width: fit-content;
    border-color: rgb(0, 26, 18);
}

.main{
    margin-top: 7%;
}

.product-image{
    width: 185px;
    height: 185px;
    border:solid 1px rgb(234, 248, 234);
     border-radius: 10px;
     cursor: pointer;
}

.category-container{
    margin-top: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 19px;
}

.products-container{
    padding: 1%;
    display: flex;
    gap: 19px;
    flex-wrap: wrap;
}

.product-container{
    
}

.category-title {
    font-size: 21px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}

.product-name{
    font-size: large;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}